@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-y: auto; /* Allow scrolling */
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  position: relative;
  padding: 10px 20px;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box; /* Ensures header fits within viewport */
  overflow: hidden; /* Prevents horizontal scroll */
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 35px; /* Add margin to the left of the logo */
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 35px; /* Add margin to the right of the menu items */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

nav ul li {
  margin-right: 20px;
}

#profile {
  width: 37px;
  height: 37px;
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25px;
  position: absolute;
  top: 29px;
  right: 25px;
}

.dot {
  width: 3.03px;
  height: 2.99px;
  background-color: #3683f0;
  border-radius: 50%;
}

.sidebar {
  height: 692px;
  display: flex;
  align-items: center;
  justify-content: center; /* Align items to the start */
  position: absolute;
  top: 130px; /* Adjust to ensure it doesn't overlap header */
  margin: 0;
  padding: 0;
  border-radius: 0px 0px 20px 20px;
  background-color: #ffffff;
  transition: width 0.3s, height 0.3s;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 999; /* Ensure sidebar is above other content */
}

.collapse {
  width: 132px;
  height: 100%;
}

.expand {
  width: 392px;
  height: 100%;
}

.collapse,
.expand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapse-header {
  position: absolute;
  left: 0;
  width: 132px; /* Ensure the rectangle is visible */
  height: 50px; /* Adjust as needed */
  background-color: #000; /* Black background */
  bottom: 685px; /* Adjust this value to match the journey board position */
}

.collapse-header div {
  width: 132px;
  height: 50px;
  position: absolute;
  border-left-width: 0;
  bottom: 0;
}

.sidebar.expanded .expand-value {
  display: flex; /* Show when expanded */
}

.collapse-header .arrow-icon {
  position: absolute;
  left: 85px;
  bottom: 11px;
}

.collapse-header,
.expand-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000; /* Black background for title head */
  color: #ffffff; /* White text for title head */
  border-radius: 0px 20px 0px 0px; /* Apply border-radius if needed */
}

.collapse-value,
.expand-value {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff; /* White background for value section */
}

.expand-title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  border-left-width: 0;
  bottom: 685px;
}

.expand-title h5 {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 2px;
  margin-left: 20px;
}

.expand-title .arrow-icon {
  margin-right: 10px;
}

.collapse-value p {
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 400;
  border: 1px solid #0029ff;
  color: #0029ff;
  line-height: 54px;
  letter-spacing: 2px;
  border-radius: 20px;
  margin-bottom: 585px;
}

element.style {
  display: none;
}

.expand-value {
  background: none;
  color: #000000;
  position: absolute;
  bottom: 490px;
  padding: 0;
}

.expand-value ul {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.expand-value li {
  position: relative;
  margin-right: 20px;
  list-style-position: outside;
  text-indent: 20px;
}

.expand-value ul li:first-child {
  font-weight: 600;
  text-indent: 2px;
  margin-left: 22px;
}

.expand-value ul li:nth-child(2) {
  margin-top: 9px;
}

.expand-value li::marker {
  font-size: 0.7em;
}

.expand-value li:first-child::marker {
  font-size: 0.9em;
}

.expand-value ul li {
  margin-left: 20px;
  padding: 5px 0;
}

.arrow-icon {
  cursor: pointer;
  width: 39px;
  height: 29px;
}

main {
  position: absolute;
}

.content-first {
  display: flex;
  flex-direction: column;
  margin: 0 185px 0 185px;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.top-content h1 {
  color: #0029ff;
}

.submit-task {
  width: 121px;
  height: 36px;
  font-size: 12px;
  background-color: #0029ff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.top-description {
  background-color: #e9ecef;
  padding: 20px 25px;
  border-radius: 5px;
}

.grid-asset {
  width: 480px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
  row-gap: 40px;
  margin: 40px 0 165px 230px;
}

.asset {
  width: 480px;
  height: 580px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fdfdfd;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.asset p {
  font-size: 14px;
  margin: 10px 0;
}

.asset-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  border-radius: 15px 15px 0px 0px;
  padding: 5px;
  position: relative;
}

.asset-header h3 {
  margin: 0;
  font-size: 16px;
  flex-grow: 1;
  text-align: center;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
}

.asset-header img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  position: absolute;
  right: 20px;
}

.description-top {
  padding: 10px;
  margin: 20px 0 10px 0;
  color: #333;
}

.description-third {
  padding: 10px;
  margin: 20px 0 30px 0;
  color: #333;
}

.description-fourth {
  padding: 10px;
  margin: 20px 0 10px 0;
  color: #333;
}

strong {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.asset-content .description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.section {
  margin: 0; /* Remove any margin around section */
}

.section-title {
  width: 100%; /* Make the title take full width */
  height: 40px;
  background-color: rgba(254, 255, 192, 0.2);
  border: 0.1px solid rgba(0, 0, 0, 0.3);
  margin: 10px 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

.section-title div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  margin-left: 10px;
}

.section-title h4 {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 470px;
  left: 910px;
}

.section-title img {
  position: absolute;
  top: 505px;
}

.method-intro {
  background-color: #f2f2f2;
}

.section-method {
  background-color: #fcfcfc;
  border: 1px solid #d9d7d7;
}

.asset-content {
  padding: 0; /* Ensure no padding inside the asset content */
}

.input-group {
  width: 199px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  margin: 20px 0 15px 139px;
}

.input-box label {
  width: 199px;
  height: 65px;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.05); /* 5% opacity background color */
  border-radius: 10px;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  display: block;
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.15); /* Inner alignment shadow */
  position: relative;
  padding: 5px 0 0 5px;
}

.input-text {
  width: 199px;
  height: 70px;
  border-radius: 10px;
  resize: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0.1px solid rgba(51, 51, 51, 0.1); /* 50% opacity border color */
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.15); /* Inner alignment shadow */
  position: absolute;
  top: 590px;
}

.input-text::placeholder {
  padding: 5px 0 0 5px; /* Add padding to placeholder text */
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 29px 15px 0;
  border-radius: 5px;
}

.threadbuild-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}

.actions button {
  background-color: #fdfdfd;
  border: 0;
  margin: 15px 0;
  padding: 0;
}

.dropdown-flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: 22px;
}

.dropdown {
  width: 91px;
  height: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.add-btn {
  width: 97px;
  height: 36px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 26px;
}

.add-btn p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-right: 5px;
}

.summary {
  margin: 20px 0 0 26px;
}

.summary label {
  width: 425px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.05); /* 5% opacity background color */
  border-radius: 10px;
  border: 0.1px solid rgba(51, 51, 51, 0.1); /* 50% opacity border color */
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25); /* Inner alignment shadow */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  position: relative;
  padding: 2px 0 0 10px;
}

.summary-input {
  width: 425px;
  height: 83px;
  resize: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 0.1px solid rgba(51, 51, 51, 0.1); /* 50% opacity border color */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 818px;
}

.summary-input::placeholder {
  padding: 5px 0 0 10px; /* Add padding to placeholder text */
}

.note-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin: 20px 0 0 20px;
  border: 1px solid #d1cece;
}

.note-area label {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000000;
  position: absolute;
  width: 85px;
  height: 33px;
  left: 260px;
}

label.title {
  bottom: 525px;
}
label.content {
  top: 1322px;
}

.note-area input,
.note-area textarea {
  opacity: 50%;
  font-size: 12px;
}

.note-area input {
  height: 43px;
  border-radius: 5px;
  border: none;
  background-color: #fcfbfb;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
  margin: 5px 0 20px 0;
  position: absolute;
  width: 422px;
  height: 43px;
  left: 260px;
  top: 1245px;
}

.file {
  position: absolute;
  width: 422px;
  height: 82px;
  left: 260px;
  top: 1360px;
  z-index: 2;
  background: #fcfbfb;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.18);
  border-radius: 5px 5px 0px 0px;
}

.file ul {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  gap: 12px;
  height: 33px;
  padding: 0;
}

.file ul:first-child {
  margin: 10px 0 0 15px;
  padding-bottom: 0;
}

.file ul:last-child {
  margin: 0 0 5px 10px;
  padding-bottom: 0;
}

.file ul li img {
  margin: 0;
  padding: 0;
}

.file li {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  padding: 0;
}

.file input {
  border: 0;
  background-color: #ebebeb;
  color: #616161;
  width: 102px;
  height: 18px;
  margin: 0 0 4px 0;
  position: absolute;
  top: 55px;
  right: 53px;
}

#menu {
  font-size: 21px;
  font-weight: 900;
  transform: rotateZ(90deg);
  padding: 0 3px 0 0;
}

.note-area textarea {
  height: 142px;
  width: 422px;
  position: absolute;
  width: 422px;
  left: 260px;
  top: 1442px;
  border: none;
  background-color: #fcfbfb;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
  background: #fcfbfb;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  resize: none;
  padding: 0;
}

.options button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.options button:hover {
  background-color: #2980b9;
}

.video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.method-intro {
  width: 434px;
  height: 43px;
  background-color: #f2f2f2;
  position: absolute;
  top: 1155px;
  margin: 0 22px;
  border-top: 1px solid #d1cece;
}

.method-intro div {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  position: absolute;
  top: 10px;
  margin-left: 15px;
}

.method-intro h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.method-intro img {
  margin: 0;
  padding: 0;
}

#\34 sa-method > div.asset-content > div:nth-child(2) > div:nth-child(2) {
  width: 424px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  position: absolute;
  top: 1200px;
  left: 771px;
}

#\34 sa-method .asset-content > div:nth-child(2) > div:nth-child(2) a {
  font-size: 14px;
  margin: 0 0 0 40px;
  text-align: left;
  text-decoration: none;
  color: #606161;
}

.section-method {
  width: 434px;
  height: 43px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 1310px;
  margin: 0 22px;
}

.section-method div {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  position: absolute;
  top: 10px;
  margin-left: 15px;
}

.section-method h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.section-method img {
  margin: 0;
  padding: 0;
}

#\34 sa-method > div.asset-content > div:nth-child(3) > div:nth-child(2) {
  width: 424px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  position: absolute;
  top: 1360px;
  left: 837px;
}

.section-method-2 {
  width: 434px;
  height: 43px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 1455px;
  margin: 0 22px;
}

.notice-section {
  width: 95px; /* Adjust width as needed */
  height: 394px; /* Adjust height as needed */
  position: absolute;
  top: 115px;
  left: 1418px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the start */
  background-color: #fff; /* White background for the section */
  border-radius: 30px 0 0 30px; /* Rounded corners for the section */
  overflow: hidden; /* Ensure content doesn't overflow */
  box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25); /* Drop shadow: X: 0, Y: 4, Blur: 4, Spread: 0, Color: #000000, 25% opacity */
}

.notice-board {
  width: 50px; /* Adjust width as needed */
  height: 100%; /* Full height */
  background-color: #000; /* Black background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px 0 0 30px; /* Rounded corners on the left side */
  color: #fff; /* White text color */
  position: relative; /* Position relative to the notice section */
}

.notice-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center the text */
  color: #fff;
  margin-top: 50px;
}

.notice-text span {
  color: #fff;
  line-height: 24px;
  letter-spacing: 2%;
  font-size: 16px; /* Adjust font size as needed */
}

.notice-text span:nth-child(6) {
  margin-bottom: 25px;
}

.close-notice {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  border-radius: 30px;
}

.notice-content {
  flex: 1; /* Take the remaining width */
  height: 100%; /* Full height */
  background-color: #fff; /* White background color */
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: absolute;
  top: 1570px;
  left: 1373px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-icon {
  width: 85px;
  height: 85px;
  cursor: pointer;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 20px;
}
